* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 50%;
  margin: auto;
  text-align: center;
  background: #d5d5d5;
  border: 1px solid black;
  margin-top: 90px;
}

.border {
  border: 1px solid #fff;
  padding: 10px;
}

.orange {
  background: orange;
}

.sero {
  grid-column: 1/ span 4;
  background: lightslategray;
  height: 64px;
  width: auto;
  text-align: end;
  padding-top: 30px;
  padding-right: 5px;
  font-size: 20px;
  color: #fff;
}

.span {
  grid-column: 1/ span 2;
}
